# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xrptusgdqvjgxagdvvlf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhycHR1c2dkcXZqZ3hhZ2R2dmxmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0MzQ4MDAsImV4cCI6MjA5NTAxMDgwMH0.DFMpaKrds3m2Q2QkF-pKfBRMCjSdwhQLlquE_XNEj_E

# Coze API Configuration
COZE_API_KEY=pat_VNqJADM5HUCj1L14iD8qMmNPO9V53WERnsALlCH3FmIYa0ZrTTgSQGOUTNMeiOd2
